<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngFor="let item of menu" color="accent">
        <a mat-list-item [routerLink]="item.redirect" 
          outerLinkActive="active" *appHasRole="item.roles">
          <mat-icon class="espacio">{{item.icon}}</mat-icon>
          <span>{{item.name}}</span>
        </a>
      </ng-container>
      <br>
      <a mat-list-item (click)="auth.logOut()">
        <mat-icon color="accent" matTooltip="Cerrar sesión" 
        class="espacio">logout</mat-icon>Cerrar sesión
      </a>
</mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title }}</span>
      <span class="spacer"></span>
      <button mat-button (click)="handleLoginClick()">{{auth.isLoggedIn ? 'Logout' : 'Login'}}</button>
      <button mat-icon-button [matMenuTriggerFor]="perfil" aria-label="Perfil de usuario">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #perfil="matMenu">
      <ng-container *ngFor="let opcion of menuProfile">
        <button mat-menu-item  [routerLink]="opcion.redirect" *appHasRole="opcion.roles"> 
          <mat-icon color="accent">{{ opcion.icon }}</mat-icon>
          <span>{{ opcion.name }}</span>
        </button>
      </ng-container>
    </mat-menu>
    </mat-toolbar>

    <ng-content></ng-content>
    
  </mat-sidenav-content>
</mat-sidenav-container>
